{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User's Oils</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <h1 class="logo">Olive Oil Quality</h1>
        <ul class="nav-links">
            <li class="active"><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'table' %}">Table</a></li>
            <li class="ctn"><a href="{% url 'styles' %}">Information</a></li>
            <li><a href="{% url 'search' %}">Search</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'user' %}">Account</a></li>
                <li><a href="{% url 'password_change' %}">Change Password</a></li> 
            {% endif %}
            {% if user.is_superuser %}
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
            {% endif %}
        </ul>
        <img src="{% static 'images/menu-btn.png' %}" class="menu-btn">
    </nav>
    
    <div class="container">
        <h2>Your Oils</h2>
        <div class="oil-boxes">
            {% for oil in olive_oils %}
            <div class="wide-box">
                <div class="oil-box">
                    <p><strong>Name:</strong> {{ oil.name }}</p>
                    <p><strong>Type:</strong> {{ oil.oil_type }}</p>
                    <p><strong>Total Score:</strong> {{ oil.calculate_quality_score }}</p>
                    {% if user.is_superuser %}
                    <form method="post" action="{% url 'delete_oil' oil.id %}">
                        {% csrf_token %}
                        <button type="submit" class="delete-btn">Delete</button>
                    </form>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
